%nav.entries-menu-wrapper
  %div.entry-wrapper
    %h1.header ADD ENTRY
    %form{action: "/add", method: "POST"}
      %input.title-box{name: "title", type: "text", placeholder: "Your title"}
      %textarea.content-box{name: "content", type: "text", rows: "10", cols: "30", placeholder: "Your entry"}
      %div.button-wrapper
        %input{type: "submit", value: "Add entry"}
