%nav.entries-menu-wrapper
  %div.entry-wrapper
    %p.header EDIT ENTRY
    %form{action: "/edit/#{@id}", method: "POST"}
      %input.title-box{name: "title", type: "text", value: @entry.title}
      %input.date-box{name: "date", type: "text", disabled: "true", placeholder: @entry.date}
      %textarea.content-box{name: "content", type: "text", rows: "10", cols: "30"}= @entry.content
      %div.button-wrapper
        %input.button{type: "submit", value: "Save"}
