%nav.entries-menu-wrapper
  %ul.entries-menu
    %li.entries-menu__item
      %a.entries-menu__item-link{href: "/view"} View entry
    %li.entries-menu__item
      %a.entries-menu__item-link{href: "/edit"} Edit entry
    %li.entries-menu__item
      %a.entries-menu__item-link{href: "/delete"} Delete entry
    %li.entries-menu__item
      %a.entries-menu__item-link{href: "/"} Get back to Main Menu
