!!!
%html
  %head
    %title MAD Scientist Journal
    %link{rel: "stylesheet", type: "text/css", href: "style.css"}/
    %link{ref: "https://fonts.googleapis.com/css?family=Dekko&amp;subset=latin-ext", rel: "stylesheet"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/


  %body
    %header
      %nav.main-menu-wrapper
        %ul.main-menu
          %li.main-menu__item
            %a.main-menu__item-link{href: ""} Add Entry
          %li.main-menu__item
            %a.main-menu__item-link{href: ""} View entries
          %li.main-menu__item
            %a.main-menu__item-link{href: ""} Quit
