!!!
%html
  %head
    %title MAD Scientist Journal
    %link{rel: "stylesheet", type: "text/css", href: "style.css"}/
    %link{ref: "https://fonts.googleapis.com/css?family=Dekko&amp;subset=latin-ext", rel: "stylesheet"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/


  %body
    %header
      =yield
